{% load static %}
{% load custom_filters %}
{% load custom_tags %}
{% load account %}
{% load socialaccount %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'billboard/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'billboard/css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'billboard/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'billboard/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'billboard/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'billboard/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'billboard/css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'billboard/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'billboard/css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static 'billboard/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'billboard/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'billboard/css/style.css' %}">

  <style>
      .icon-plus-circle {
          color: rgba(0, 0, 0, 0.7);
      }
      .icon-plus-circle:hover {
          color: #0a53be;
          text-decoration: none;
      }
       .newsletters_row {
          display: flex;
          align-items: center;
          flex-direction: row;
      }
       .newsletters_row i {
           padding-left: 10px;
       }
  </style>

  </head>
  <body>

	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
                    <span class="newsletters_row">
					<li {% if newsletter_list_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'newsletter_list' %}">
                        {% endif %}Новости игр</a>
                    </li>
                        <a href="{% url 'newsletter_create' %}"><i class="icon-plus-circle" title="Создать новое"></i></a>
                    </span>
                    <hr>
					<li {% if announcement_list_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'announcement_list' %}">
                        {% endif %}Все объявления</a>
                    </li>
					<li {% if announcement_search_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'announcement_search' %}">
                        {% endif %}Поиск по объявлениям</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li {% if announcement_create_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'announcement_create' %}">
                        {% endif %}Новое объявление</a>
                    </li>
                    <hr>
                    <li {% if reply_my_list_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'reply_my_list' %}">
                        {% endif %}Мои отлики</a>
                    </li>
					<li {% if reply_forme_list_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'reply_forme_list' %}">
                        {% endif %}Отлики для меня</a>
                    </li>
                    <hr>
                    <li {% if userprofile_edit_selected %}
                            class="colorlib-active"><a>
                        {% else %}
                            ><a href="{% url 'userprofile_edit' request.user.id %}">
                        {% endif %}Мои профиль</a>
                    </li>

                    {% endif %}
				</ul>
			</nav>

			<div class="colorlib-footer">
				<h1 id="colorlib-logo" class="mb-4"><a href="{% url 'announcement_list' %}" style="background-image: url({% static 'billboard/images/fire_bg.jpg' %});">Play&<span>Win</span></a></h1>
                {% if request.user.is_authenticated %}
                    <p class="pfooter">
                        <span>Добро пожаловать, <b>{% user_display user %}</b></span><br>
                        <span><i class="" aria-hidden="true"></i><a href="{% url 'account_logout' %}">Выйти</a></span>
                {% else %}
                    <p class="pfooter">
                        <span>Пожалуйста, авторизуйтесь c помощью:</span><br>
                        <span><i class="icon-dot-circle-o" aria-hidden="true"></i><a href="{% url 'account_login' %}">&nbsp;email</a></span><br>
                        <span><i class="icon-dot-circle-o" aria-hidden="true"></i><a href="{% provider_login_url "yandex" %}">&nbsp;Yandex</a></span><br>
                        <span><i class="icon-dot-circle-o" aria-hidden="true"></i><a href="{% provider_login_url "vk" %}">&nbsp;VK</a></span>
                    </p>
		        {% endif %}
        </aside> <!-- END COLORLIB-ASIDE -->
		<div id="colorlib-main">
			<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
	    		<div class="row d-flex">
	    			<div class="col-xl-8 py-5 px-md-5">
	    				<div class="row pt-md-4">

                            <!-- BLOG START -->
                                {% block announcement %}
                                {% endblock announcement %}
                            <!-- BLOG END -->

			    		</div><!-- END-->

                            <!-- PAGINATOR START -->

                        {% if page_obj.has_other_pages %}
                            <div class="row">
                                <div class="col">
                                    <div class="block-27">
                                        <ul>
                                    {# Предыдущая страница #}
                                        {% if page_obj.has_previous %}
                                            <li><a href="?{% urlreplacer page=page_obj.previous_page_number %}">&lt;</a></li>
                                        {% endif %}
                                        {% for page_t in page_obj.paginator.page_range %}
                                            {# Текущая страница #}
                                            {% if page_obj.number == page_t %}
                                                    <li class="active"><span>{{ page_obj.number }}</span></li>
                                            {# +/- 2 страницы от текущей #}
                                            {% elif page_t >= page_obj.number|add:-2 and page_t <= page_obj.number|add:2 %}
                                                    <li><a href="?{% urlreplacer page=page_t %}">{{ page_t }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {# Следующая страница #}
                                        {% if page_obj.has_next %}
                                            <li><a href="?{% urlreplacer page=page_obj.next_page_number %}">&gt</a></li>
                                        {% endif %}
                                          </ul>
                                    </div>
                                  </div>
                                </div>
                        {% endif %}
                            <!-- PAGINATOR END -->
                    </div>
                <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">

                            <!-- CATEGORY START -->
                            {% block category %}
                            {% endblock category %}
                            <!-- CATEGORY END -->

                            <!-- SEARCH START -->
                                {% block searchbox %}
                                {% endblock searchbox %}
                            <!-- SEARCH END -->


                            <!-- LASTNEWSLETTERS START -->
                                {% block lastnewsletters %}
                                {% endblock lastnewsletters %}
                            <!-- LASTNEWSLETTERS END -->

	          </div><!-- END COL -->
	    		</div>
	    	</div>
	    </section>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'billboard/js/jquery.min.js' %}"></script>
  <script src="{% static 'billboard/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'billboard/js/popper.min.js' %}"></script>
  <script src="{% static 'billboard/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'billboard/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'billboard/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'billboard/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'billboard/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'billboard/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'billboard/js/aos.js' %}"></script>
  <script src="{% static 'billboard/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'billboard/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'billboard/js/google-map.js' %}"></script>
  <script src="{% static 'billboard/js/main.js' %}"></script>
    
  </body>
</html>