{% load static %}


<!doctype html>
<html lang="en">
  <head>
  	<title>Выйти из аккаунта</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'account/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Вы уверены, что хотите выйти?</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url({% static 'account/images/bg-1.jpg'%});"></div>
						<div class="login-wrap p-4 p-md-5">

                    <form method="POST" action="{% url 'account_logout' %}">
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% csrf_token %}
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Выйти</button>
                    </div>
		            <div class="form-group">
                        <a href="#" onclick="history.back();return false;" class="form-control btn btn-secondary rounded submit px-3" >Назад</a>
		            </div>
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'account/js/jquery.min.js' %}"></script>
  <script src="{% static 'account/js/popper.js' %}"></script>
  <script src="{% static 'account/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'account/js/main.js' %}"></script>

	</body>
</html>

