{% extends 'flatpages/base.html' %}

{% load static %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}
    {{ announcement_detail.title|truncatechars:50 }}
{% endblock title %}

{% block category %}
    {% tag_categories_block %}
{% endblock category %}

{% block announcement %}
    <div class="col-md-12">
        <h1 class="mb-2">{{ announcement_detail.title }}</h1>
        <div class="meta-wrap">
            <p class="meta">
                <span style="font-size: 12px; margin-right: 5px"><i class="icon-face mr-1"></i>Автор: {{ announcement_detail.author_ann }}</span>
                <span style="font-size: 12px; margin-right: 5px"><i class="icon-calendar mr-1"></i>{% if isupdated %}Обновлено{% else %}Создано{% endif %}: {{ announcement_detail.time_create|date:'d/m/y H:i' }}</span>
                <span style="font-size: 12px; margin-right: 5px"><a href="#"><i class="icon-folder-o mr-1"></i>{{ announcement_detail.category }}</a></span>
                <span style="font-size: 12px; margin-right: 5px"><i class="icon-comment2 mr-1" title="Отлики"></i>{{ announcement_detail.replies.all.count }}</span>
            {% if request.user == announcement_detail.author_ann %}
            <p>
                <span style="font-size: 12px"><a href="{% url 'announcement_edit' announcement_detail.pk %}" style="color: green"><i class="icon-edit"></i>Изменить</a></span>
                <span style="font-size: 12px; margin-left: 5px;"><a href="{% url 'announcement_delete' announcement_detail.pk %}" style="color: red"><i class="icon-remove"></i>Удалить</a></span>
            </p>
            {% endif %}
            </p>
            <hr>
        </div>
    </div>
    <div style="padding-left: 20px">
        {{ announcement_detail.content|safe|linebreaks }}
        <hr>
    </div>
<!-- START replies-list -->
    <div class="pt-5 mt-5">
        <h5 class="mb-5 font-weight-bold">Всего откликов: {{ announcement_detail.num_replies }}</h5>
        <ul class="comment-list">
            {% for reply in replies %}
              <li class="comment">
                    <div class="vcard bio">
                      <img src="{% static 'billboard/images/person_1.jpg' %}" alt="Image placeholder">

                    </div>
                <div class="comment-body">
                  <h5 style="margin-bottom: 0">{{ reply.author_repl }}</h5>
                  <div class="meta">{{ reply.time_update|date:'d.m.y H:i' }}
                      <i class="icon-publish" style='color: black; font-size: 11px; font-family: "Poppins", Arial, sans-serif '>Статус: {{ reply.is_approved|status_translate }}</i>
                  </div>
                  <p>{{ reply.content }}</p>
                  {% if request.user == reply.author_repl %}
                    <p><a href="{% url 'reply_delete' pk=reply.pk %}" class="reply">Удалить</a></p>
                  {% elif request.user == announcement_detail.author_ann and request.user != reply.author_repl %}
                    <p>
                    {% if reply.is_approved != 'approved' %}
                       <a href="{% url 'reply_approve' pk=reply.pk %}" class="reply" style="background: #c0f6c9">Принять</a>
                    {% endif %}
                    {% if reply.is_approved != 'declained' %}
                       <a href="{% url 'reply_declain' pk=reply.pk %}" class="reply" style="background: #f6dbc0">Отклонить</a>
                    {% endif %}
                    {% if reply.is_approved != 'no_status' %}
                       <a href="{% url 'reply_reset' pk=reply.pk %}" class="reply">Сбросить</a>
                    {% endif %}
                    </p>
                  {% endif %}
                </div>
              </li>
            {% empty %}
                <div class="comment-body">
                  <p>Здесь нет пока отликов</p>
                </div>
            {% endfor %}

		              </ul>
<!-- END replies-list -->

<!-- START newreplies-form -->
    {% if request.user != announcement_detail.author_ann %}
          <div class="comment-form-wrap pt-5">
            <h5 class="mb-5">Оставьте отлик</h5>
            <div class="form-error">{{ form.non_field_errors }}</div>
            <form action="#" class="p-3 p-md-5 bg-light" method="post">{% csrf_token %}
              <div class="form-group">
                  {{ form.content }}
                  <div class="form-error">{{ form.errors }}</div>
              </div>
              <div class="form-group">
                <input type="submit" value="Опубликовать отклик" class="btn py-3 px-4 btn-primary btn-sm">
              </div>

            </form>
          </div>
    {% endif %}
    <!-- END newreplies-form -->

        </div>
{% endblock announcement %}

