{% extends 'flatpages/base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
    Все объявления
{% endblock title %}

{% block category %}
    {% tag_categories_block %}
{% endblock category %}

{% block announcement %}

    {% for announcement in all_announcement %}
        {% isupdated announcement.pk as isupdated %}
			    			<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										<a href="{% url 'announcement_detail' pk=announcement.pk %}" class="img img-2" style="background-image: url({% static 'billboard/images/image_1.jpg' %});"></a>
										<div class="text text-2 pl-md-4">
				              <h3 class="mb-2"><a href="{% url 'announcement_detail' pk=announcement.pk %}">{{ announcement.title }}</a></h3>
                            <div class="meta-wrap">
                                  <p class="meta" style="margin-bottom: 0rem">
                                    <span><i class="icon-face mr-1"></i>Автор: {{ announcement.author_ann }}</span>
                                    <span><i class="icon-calendar mr-1"></i>{% if isupdated %}Обновлено: {{ announcement.time_update|date:'d/m/y H:i' }}{% else %}Создано: {{ announcement.time_create|date:'d/m/y H:i' }}{% endif %}</span>
                                    <span><a href="{% url 'announcement_by_category' pk=announcement.category.pk  %}"><i class="icon-folder-o mr-1"></i>{{ announcement.category }}</a></span>
				              		<span><i class="icon-comment2 mr-1" title="Отлики"></i>{{ announcement.replies.all.count }}</span>
				              	    <span><i class="icon-eye" title="Просмотры"></i>&nbsp;{{ announcement.pageviews }}</span>
                                  </p>
			              	</div>
				              <p class="mb-4">{{ announcement.content|striptags|safe|truncatechars:100 }}</p>
				              <p><a href="{% url 'announcement_detail' pk=announcement.pk %}" class="btn-custom">Подробнее <span class="ion-ios-arrow-forward"></span></a></p>
				            </div>
									</div>
								</div>
    {% empty %}
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2">Таких объявлений нет.</h3>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock announcement %}


{% block paginator %}
{# Если объявлений больше, чем количества на страницу #}
{% if paginator.count > paginator.per_page %}
    <div class="row">
        <div class="col">
            <div class="block-27">
                <ul>
    {# Предыдущая страница #}
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
        {% endif %}
    {# Текущая страница #}
        <li class="active"><span>{{ page_obj.number }}</span></li>
    {# Следующая страница #}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
        {% endif %}
                  </ul>
            </div>
          </div>
        </div>
{% endif %}

{% endblock paginator %}

{% block searchbox %}

    <div class="sidebar-box pt-md-4">
      <form action="#" class="search-form" method="get">
        <div class="form-group">
            {{ filtered_queryset.form.title }}
        </div>
      {% if request.user.is_authenticated %}
        <div style="margin-top: 30px; font-size: 14px;">
            <p><label class="form-label" for="{{ filtered_queryset.form.is_author_ann.id_for_label }}">Мои объявления: </label> &nbsp;
                {{ filtered_queryset.form.is_author_ann }}
            </p>
        </div>
      {% endif %}
      </form>
    </div>
{% endblock searchbox %}