{% extends 'flatpages/base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
    Объявления категории {{ category }}
{% endblock title %}

{% block category %}
    {% tag_categories_block %}
{% endblock category %}

{% block announcement %}

    {% for announcement in category_announcement %}
        {% isupdated announcement.pk as isupdated %}
			    			<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										<a href="{% url 'announcement_detail' pk=announcement.pk %}" class="img img-2" style="background-image: url({% static 'billboard/images/image_1.jpg' %});"></a>
										<div class="text text-2 pl-md-4">
				              <h3 class="mb-2"><a href="{% url 'announcement_detail' pk=announcement.pk %}">{{ announcement.title }}</a></h3>
                            <div class="meta-wrap">
                                  <p class="meta">
                                    <span><i class="icon-face mr-1"></i>Автор: {{ announcement.author_ann.userprofile.nickname }}</span>
                                    <span><i class="icon-calendar mr-1"></i>{% if isupdated %}Обновлено{% else %}Создано{% endif %}: {{ announcement.time_create|date:'d.m.y H:i' }}</span>
                                    <span><a href="#"><i class="icon-folder-o mr-1"></i>{{ announcement.category }}</a></span>
				              		<span><i class="icon-comment2 mr-1" title="Отлики"></i>{{ announcement.replies.all.count }}</span>
				              	  </p>
			              	</div>
				              <p class="mb-4">{{ announcement.content|striptags|truncatechars:100 }}</p>
				              <p><a href="{% url 'announcement_detail' pk=announcement.pk %}" class="btn-custom">Подробнее <span class="ion-ios-arrow-forward"></span></a></p>
				            </div>
									</div>
								</div>
    {% empty %}
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2">В этой категории пока нет объявлений.</h3>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock announcement %}

{% block lastnewsletters %}
    {% tags_lastnewsletters_block %}
{% endblock lastnewsletters %}
