{% extends 'flatpages/base_wide.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
    Новости портала
{% endblock title %}


{% block announcement %}

    {% for newsletter in all_newsletter %}
			    			<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										<a href="{% url 'newsletter_detail' pk=newsletter.pk %}" class="img img-2" style="background-image: url({{ newsletter.photoimage.url }});"></a>
										<div class="text text-2 pl-md-4">
				              <h3 class="mb-2"><a href="{% url 'newsletter_detail' pk=newsletter.pk %}">{{ newsletter.title }}</a></h3>
                            <div class="meta-wrap">
                                  <p class="meta" style="margin-bottom: 0rem">
                                    <span><i class="icon-calendar mr-1"></i>{{ newsletter.time_create|date:'d.m.y H:i' }}</span>
                                    <span><i class="icon-folder-o mr-1"></i>{{ newsletter.category }}</span>
                                    <span><i class="icon-eye" title="Просмотры"></i>&nbsp;{{ newsletter.pageviews }}</span>
                                  </p>
			              	</div>
				              <p class="mb-4">{{ newsletter.content|striptags|safe|truncatechars:100 }}</p>
				              <p><a href="{% url 'newsletter_detail' pk=newsletter.pk %}" class="btn-custom">Подробнее <span class="ion-ios-arrow-forward"></span></a></p>
				            </div>
									</div>
								</div>
    {% empty %}
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2">Новостей пока нет</h3>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock announcement %}

