{% extends 'flatpages/base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}
    Новости портала
{% endblock title %}


{% block announcement %}

    {% for newsletter in all_newsletter %}
			    			<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										<a href="{% url 'newsletter_detail' pk=newsletter.pk %}" class="img img-2" style="background-image: url({% static 'billboard/images/image_1.jpg' %});"></a>
										<div class="text text-2 pl-md-4">
				              <h3 class="mb-2"><a href="{% url 'newsletter_detail' pk=newsletter.pk %}">{{ newsletter.title }}</a></h3>
                            <div class="meta-wrap">
                                  <p class="meta" style="margin-bottom: 0rem">
                                    <span><i class="icon-calendar mr-1"></i>{{ newsletter.time_create|date:'d/m/y H:i' }}</span>
                                    <span><i class="icon-folder-o mr-1"></i>{{ newsletter.category }}</span>
                                  </p>
			              	</div>
				              <p class="mb-4">{{ newsletter.content|striptags|safe|truncatechars:100 }}</p>
				              <p><a href="{% url 'newsletter_detail' pk=newsletter.pk %}" class="btn-custom">Подробнее <span class="ion-ios-arrow-forward"></span></a></p>
				            </div>
									</div>
								</div>
    {% empty %}
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2">Новостей пока нет</h3>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock announcement %}


{% block paginator %}
{# Если объявлений больше, чем количества на страницу #}
{% if paginator.count > paginator.per_page %}
    <div class="row">
        <div class="col">
            <div class="block-27">
                <ul>
    {# Предыдущая страница #}
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
        {% endif %}
    {# Текущая страница #}
        <li class="active"><span>{{ page_obj.number }}</span></li>
    {# Следующая страница #}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
        {% endif %}
                  </ul>
            </div>
          </div>
        </div>
{% endif %}

{% endblock paginator %}