{% extends 'flatpages/base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
    Отлики для меня
{% endblock title %}


{% block announcement %}
    {% for announcement in anns_with_reply_forme %}
    <div class="col-md-12">
        <h3 class="mb-2"><a href="{% url 'announcement_detail' pk=announcement.pk %}" style="color: black">{{ announcement.title }}</a></h3>
        <div class="meta-wrap">
            <p class="meta">
                <span style="font-size: 11px; margin-right: 5px"><i class="icon-calendar mr-1"></i>{% if isupdated %}Обновлено{% else %}Создано{% endif %}: {{ announcement.time_create|date:'d/m/y H:i' }}</span>
                <span style="font-size: 11px; margin-right: 5px"><a href="#"><i class="icon-folder-o mr-1"></i>{{ announcement.category }}</a></span>
                <span style="font-size: 11px; margin-right: 5px"><i class="icon-comment2 mr-1" title="Отлики"></i>{{ announcement.replies.all.count }}</span>
                <span style="font-size: 11px; margin-right: 5px"><i class="icon-eye" title="Просмотры"></i>&nbsp;{{ announcement.pageviews }}</span>
            {% if request.user == announcement.author_ann %}
            {% endif %}
            </p>
            <hr>
        </div>
    </div>
<!-- START replies-list -->
    {% for reply in announcement.replies.all %}
    <div class="pt-5 mt-5">
        <ul class="comment-list">
              <li class="comment">
                    <div class="vcard bio">
                      <img src="{% static 'billboard/images/person_1.jpg' %}" alt="Image placeholder">
                    </div>
                <div class="comment-body">
                  <h5 style="margin-bottom: 0">{{ reply.author_repl }}</h5>
                  <div class="meta">{{ reply.time_update|date:'d.m.y H:i' }}
                      <i class="icon-publish" style='color: black; font-size: 11px; font-family: "Poppins", Arial, sans-serif '>Статус: {{ reply.is_approved|status_translate }}</i>
                  </div>
                  <p>{{ reply.content }}</p>
                    <p>
                    {% if reply.is_approved != 'approved' %}
                       <a href="{% url 'reply_approve' pk=reply.pk %}" class="reply" style="background: #c0f6c9">Принять</a>
                    {% endif %}
                    {% if reply.is_approved != 'declained' %}
                       <a href="{% url 'reply_declain' pk=reply.pk %}" class="reply" style="background: #f6dbc0">Отклонить</a>
                    {% endif %}
                    {% if reply.is_approved != 'no_status' %}
                       <a href="{% url 'reply_reset' pk=reply.pk %}" class="reply">Сбросить</a>
                    {% endif %}
                    </p>
                </div>
              </li>
            {% empty %}
                <div class="comment-body">
                  <p>Здесь нет пока отликов</p>
                </div>
            {% endfor %}

		              </ul>
                </div>
<!-- END replies-list -->
    {% empty %}
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2">Для вас отликов пока никто не оставил</h3>
                </div>
            </div>
        </div>
    {% endfor %}
<!-- END newreplies-form -->

{% endblock announcement %}

{% block paginator %}
{# Если объявлений больше, чем количества на страницу #}
{% if paginator.count > paginator.per_page %}
    <div class="row">
        <div class="col">
            <div class="block-27">
                <ul>
    {# Предыдущая страница #}
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
        {% endif %}
    {# Текущая страница #}
        <li class="active"><span>{{ page_obj.number }}</span></li>
    {# Следующая страница #}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
        {% endif %}
                  </ul>
            </div>
          </div>
        </div>
{% endif %}

{% endblock paginator %}

{% block searchbox %}
    {% if anns_with_reply_forme %}
        <div class="sidebar-box pt-md-4">
          <form action="#" class="search-form" method="get">
            <fieldset>
                <legend class="filtered">Фильтры:</legend>
                <p><label class="form-label" for="{{ filtered_queryset.form.title.id_for_label }}">Объявление: </label>{{ filtered_queryset.form.title }}</p>
                <div class="form-error">{{ field.errors }}</div>
                <p><label class="form-label" for="{{ filtered_queryset.form.category.id_for_label }}">Категории: </label>{{ filtered_queryset.form.category }}</p>
                <div class="form-error">{{ field.errors }}</div>
                <div>
                    <button type="submit">Применить</button>
                </div>
            </fieldset>
          </form>
        </div>
    {% endif %}
{% endblock searchbox %}