{% extends 'flatpages/base.html' %}

{% load static %}
{% load custom_tags %}
{% load custom_filters %}

{% load crispy_forms_tags %}

{% block category %}
    {% tag_categories_block %}
{% endblock category %}


{% block announcement %}
    <div class="col-md-12">
        <h1 class="mb-2">Редактирование профиля</h1>
    </div>


<div class="container mt-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media}}
            {% for field in form %}
            <div class="form-group">
                <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
                {{ field }}
            </div>
            {% endfor %}
            <div class="row justify-content-center">
                <input type="submit" class="btn btn-success" value="Применить" />
                &nbsp;
                <a href="#" onclick="history.back();return false;" class="btn btn-outline-secondary" >Отмена</a>&nbsp;
            </div>
        </form>
</div>

{% endblock announcement %}

{% block lastnewsletters %}
    {% tags_lastnewsletters_block %}
{% endblock lastnewsletters %}